* {
    margin: 0;
    padding: 0;
}

.main_header {
    height: 1200px;
    width: 100%;
    background: center center;
    background-size: cover;
    background-color: rgb(131, 22, 137);
}

.container {
    width: 1140px;
    margin: auto;
    overflow: hidden;
}

.header {
    height: 850px;
    width: 80%;
    border: 2px solid #ddd;
    margin-left: 10%;
    box-sizing: border-box;
    border-radius: 4px;
    background: #fff;
    box-shadow: inset 1px 1px 8px 0px #ddd, 0px 2px 19px 5px #360465;
}

.accordion {
    width: 91%;
    height: 750px;
    box-sizing: border-box;
    border: 1px solid rgba(61, 36, 200, 0.888);
    margin-top: 45px;
    margin-left: 5%;
    border-radius: 5px;
    display: block;
    background: center center;
}

button.itembtnOne {
    padding: 30px 655px 30px 25px;
    border: none;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 18px;
    position: relative;
    background: rgb(206, 55, 225);
    color: #fff;
}

.arrowIconOne {
    position: absolute;
    margin-left: 775px;
    margin-top: -50px;
    color: #fff;
}

.arrowIconTwo {
    position: absolute;
    margin-left: 775px;
    margin-top: -50px;
    color: #fff;
}

.arrowIconTre {
    position: absolute;
    margin-left: 775px;
    margin-top: -50px;
    color: #fff;
}

.accordion_ItemOne_down p {
    margin-top: 10px;
}

.accordion_ItemOne_down {
    width: 88%;
    font-size: 18px;
    line-height: 30px;
    margin: auto;
}

.accordion_ItemOne_down span {
    color: rgb(192, 48, 108);
    font-size: 18px;
}

button.itembtnTwo {
    padding: 30px 655px 30px 25px;
    border: none;
    font-size: 18px;
    position: relative;
    background: rgb(28, 166, 157);
    color: #fff;
}

.accordion_ItemTwo_down p {
    margin-top: 10px;
}

.accordion_ItemTwo_down {
    width: 87%;
    font-size: 18px;
    line-height: 30px;
    margin: auto;
}

.accordion_ItemTwo_down span {
    color: rgb(192, 48, 108);
    font-size: 18px;
}

button.itembtnTre {
    padding: 30px 655px 30px 25px;
    border: none;
    font-size: 18px;
    max-block-size: 500px;
    background: rgb(222, 39, 161);
    color: #fff;
}

.accordion_ItemTre_down p {
    margin-top: 10px;
}

.accordion_ItemTre_down {
    width: 87%;
    font-size: 18px;
    line-height: 30px;
    margin: auto;
}

.accordion_ItemTre_down span {
    color: rgb(192, 48, 108);
    font-size: 18px;
}

.downArrow {
    position: absolute;
    margin-left: 775px;
    margin-top: -50px;
    color: #fff;
}

/* ------step-1------ */
.accordion_ItemOne_down {
    display: none;
}

.showTextOne {
    display: block;
}

.showBtn_Add {
    display: none;
}

.down_Arr {
    display: none;
}

.removeBtn_show {
    display: block;
}

/* ----------step-2---- */
.accordion_ItemTwo_down {
    display: none;
}

.showTextTwo {
    display: block;
}

.showBtn_AddTwo {
    display: none;
}

.down_ArrTwo {
    display: none;
}

.removeBtn_showTwo {
    display: block;
}

/* -------------step-3-------- */
.accordion_ItemTre_down {
    display: none;
}

.showTextTre {
    display: block;
}

.showBtn_AddTre {
    display: none;
}

.down_ArrTre {
    display: none;
}

.removeBtn_showTre {
    display: block;
}

/* .itemBtn_ShowText{
    display: block;
} */